<div style="width:32em; overflow: visible;">
  <h2 style="text-align:center;margin-bottom:0">TwitchSwitch</h2>
  <img style="margin-left:4em;" src="sample.png" />
  <p> TwitchSwitch provides stream-preview functionality to twitch.tv. It inserts a "preview" tab into the left sidebar on twitch which lists all of the streamers you follow and are currently online.  You can preview their stream by clicking on their name in this preview tab and a small box will appear with a live feed of their stream</p>
  <footer style="width:100%";>
	<div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
	    <br/>
	    <p align="center"; style="clear: both;">Please Donate To Bitcoin Address: <b>16JoRLG7CVpYtMzQyTFP9rhPEyyKZofnq3</b></p>
	</div>
	<p style="clear:both"> *Special thanks to Glen Oakley (@goakley123) for his awesome open source contributions to this project </p>
	<p style="float:left;text-align:left;">&#169; James Rottinger</p><p style="float:right;text-align:right;">GPLv3 Licensed</p>
  </footer>
</div>
