<div style="width:32em;">
  <h2 style="text-align:center;">TwitchSwitch</h2>
  <img style="float:left;margin:1em;width:16em;" src="sample.png" />
  <p>You may have noticed a new category in your user bar!  TwitchSwitch adds your followed streams to the bar to give you quick preview access without navigating away from your current stream.  Just click the stream you wish to preview and TwitchSwitch will open a small preview window.  Think picture-in-picture for new media.</p>
  <footer style="width:100%";><p style="float:left;text-align:left;">&#169; James Rottinger</p><p style="float:right;text-align:right;">GPLv3 Licensed</p><p style="text-align:center;">(bitcoin address here)</p></p>
</div>
